
.fancybox__footer {
    display: none;
}
[data-simplebar]{
    scrollbar-width: none;
}
[data-simplebar]::-webkit-scrollbar{
    display: none;
     width: 0;
     height: 0;
} 
.swiper-scrollbar-wrap {
    height: 15px;
    padding: 5px;
    background: rgba(0,0,0,.1);
    border-radius: 10px;
    &.lock {
        display: none;
    }
    .swiper-scrollbar {
        height: 5px;
        background: transparent;
        position: relative
    }
    .swiper-scrollbar-drag {
        top: 0;
        height: 5px;  
        border-radius: 6px;
        background: #85B73F;
        cursor: pointer;
    }
}
.simplebar-track.simplebar-horizontal {
    height: 15px;
}
.simplebar-track {
    right: 20px;
    background: rgba(0,0,0,.1);
    border-radius: 10px;
}
.simplebar-scrollbar:before {
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #85B73F;
    opacity: 1;
}
.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
}
.section--bottom {
    @media (max-width: 1399.98px) {
        margin-bottom: 13rem;
    }
    @media (max-width: 767.98px) {
        margin-bottom: 6rem;
    }
}
.about-section h2.h1 {
    font-size: 3rem;
    @media (max-width: 991.98px) {
       font-size: 2.6rem;
    }
    @media (max-width: 575.98px) {
       font-size: 2rem;
    }
}
.about-hero .breadcrumbs {
    margin-left: -1.5rem;
    svg {
        stroke: rgb(255 255 255 / 70%)
    }
}
.about-hero .breadcrumbs a,
.about-hero .breadcrumbs span {
    color: rgb(255 255 255 / 70%)
}
.lazyload-video {
    cursor: pointer;
}
.about-section__video img, .about-section__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
.about-section__video iframe {
    z-index: 2;
  }
.media-cover {
    display: block;
    position: relative;
    overflow: hidden;
    img, video, iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
}
.media-cover--fancy {
    border-radius: 40px 0px;
    svg {
        width: 64px;
        height: 64px;
        fill: #85B73F;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        opacity: 0;
        transition: all .3s linear;
        pointer-events: none;
    }
    &:hover {
        svg {
            opacity: 1;
        }
    }
    @media (max-width: 991.98px) {
        border-radius: 2rem 0;
    }
}
.media-contain {
    display: block;
    position: relative;
    overflow: hidden;
    img, video, iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 100%;
      object-fit: contain;
      margin: auto;
    }
}
a, button {
    text-decoration-skip-ink: none;
}
#map {
    [class*=gm-bundled-control],
    [class*=gm-fullscreen-control] {
        display: none;
    }
}
.download-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    svg {
        fill: #ffffff;
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        margin-right: 15px;
    }
}
ul.page-list {
    list-style-type: none;
    padding: 0;
    li {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.7;
        position: relative;
        padding-left: 46px;
        margin-bottom: 2.4rem;
        &:last-child {
            margin-bottom: 0!important;
        }
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 30px;
            height: 30px;
            transform: translateY(-50%);
            background: #85B73F;
            border-radius: 10px 0;
        }
    }
}
.button--primary {
    font-weight: 600;
}
.form {
    input,textarea, input::placeholder, textarea::placeholder {
       font-size: 1.8rem;
       font-weight: 500;
    }
    input::placeholder, textarea::placeholder {
        color: #657E95;
    }
    input,textarea {
        color: #2F3339;
        border-radius: 8px;
    }    
    textarea {
        height: 9rem;
        resize: vertical;
        overflow: hidden;
    }
    textarea:focus {
        outline: none;
    }
    .form__group{
        &.error {
            input,textarea {
                color: #f00;
                border: 1px solid #f00;
            } 
        }
    }
    @media (max-width: 991.98px) {
        input,textarea, input::placeholder, textarea::placeholder {
            font-size: 1.6rem;
         }
        .personal {
            font-size: 12px;
        }
    } 
}
.form__input {
    height: 5.5rem;
    @media (max-width: 991.98px) {
        height: 50px;
    } 
}
.file-form {
    margin-bottom: 2rem;
    &.error {
        .file-form__txt {
            display: none;
        }
        .file-form__error {
            display: block;
        }
        .file-form__lbl {
            display: block;
        }
        .file-form__name {
            display: none;
        }
        label svg {
            fill: #f00;
        }
    }
    &.checked {
        .file-form__lbl {
            display: none;
        }
        .file-form__name {
            display: block;
        }
    }
    label {
        display: flex;
        align-items: center;  
        cursor: pointer;
        input {
            display: none
        }
        svg {
            flex: 0 0 32px;
            width: 32px;
            height: 32px;
            fill: #85B73F;
            margin-right: 8px;
        }
        span {
            font-size: 1.8rem;
            line-height: 1.7; 
        }
    }
    &__lbl {
       color: #657E95;
    }
    &__name {
        color: #85B73F;
        display: none;
    }
    &__txt, &__error {
        padding-left: 40px;
        font-size: 1.4rem;
        line-height: 1.1;
        opacity: 0.5;
        margin-top: 0.4rem;
    }
    &__txt {
        color: #657E95;
    }
    &__error {
        display: none;
        color: #f00;
    }
    @media (max-width: 991.98px) {
        margin-bottom: 2rem;
        label span {
            font-size: 1.6rem;
        }
        &__txt, &__error {
            font-size: 1.2rem;
        }
    } 
}
.modal {
    --bs-modal-width: 510px;
    .personal a {
        display: block;
    }
    @media (max-width: 575.98px) {
        .modal-dialog {
            max-width: calc(100% - 40px);
            margin: 0 auto;
        } 
        .modal-body {
            padding: 4rem 8px;
        } 
        .personal {
            max-width: 304px;
            a {
                display: inline;
            }
        } 
    }
}
.modal-content {
    @media (max-width: 575.98px) {
        border-radius: 3rem 0; 
    }
}
.modal-backdrop {
    transform: scale(2);
    @media only screen and (min-width: 991px) {
        transform: scale(2);
    }
}
.modal-content__header {
    margin-bottom: 3.7rem;
    border-bottom: 3px solid #2F3339;
    .modal-title {
        margin-bottom: 2rem;
        text-align: left;
    }
    @media (max-width: 767.98px) {
        margin-bottom: 3rem;
        .modal-title  {
            margin-bottom: 1rem;
        }
    }
}
.modal-close svg {
    opacity: 0.8;
}
.errorModal-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    color: #E03422;
} 
.errorModal-text svg {
  width: 10rem;
  height: 10rem;
  margin: 0 0 2rem 0;
  fill: #E03422;
}
.successModal-text svg {
    fill: #85B73F;
  }
.hero-product {
    height: auto;
    min-height: calc(100vh - 140px);
    padding: 9rem 0 5rem;
    .breadcrumbs {
        margin-left: -1.5rem;
        margin-bottom: 2rem;
        svg {
            stroke: rgb(255 255 255 / 70%);
        }
        a,span {
            color: rgb(255 255 255 / 70%);
        }
    }
    &__row {
        display: flex;
        align-items: center;
    }
    h1 {
        margin-bottom: 5rem;
    }
    .hero-advantages__title:before {
        position: absolute;
        top: 0;
        left: 0;
    }
    .hero-advantages__title {
        padding: 14px 0 0;
    }
    .hero-img {
        width: 100%;
        height: 100%;
        left: 0%;
        transform: translateX(0);
    }
    &:before,&:after{
       content: none;
    }
    @media only screen and (min-width: 1400px) and (max-width: 1599.98px) {
       min-height: calc(111vh - 140px);
    }
    @media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
       min-height: calc(125vh - 140px);
    }
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
       min-height: calc(143vh - 140px);
    }
    @media (max-width: 1399.98px) {
        .hero-advantages__title {
            font-size: 2.4rem;
        }
    }
    @media (max-width: 991.98px) {
        padding-top: 8rem;
        .hero__title {
            font-size: 2.8rem;
            margin-bottom: 2rem;
        }
        .hero-advantages__title {
            font-size: 20px;
            line-height: 1.1;
        }
    }
    @media (max-width: 767.98px) {
        padding-bottom: 2rem;
        .hero-advantages {
            margin-bottom: 4rem;
        }
        .hero__title {
            margin-bottom: 2rem;
        }
    }
    @media (max-width: 575.98px) {
        min-height: calc(90vh - 91px);
        .hero-overlay {
            background: #2F3339;
            opacity: 0.6;
        }
        .hero-overlay::before{
            content: ""!important;
            opacity: 1;
            background: linear-gradient(143.83deg, #000000 9.5%, rgba(0, 0, 0, 0) 62.05%);
        }
    } 
    @media (max-width: 330px) {
        min-height: calc(111vh - 140px);
    }
}
.hero-form {
    flex: 0 0 490px;
    padding: 30px 30px 16px;
    border-radius: 8px;
    background:linear-gradient(140deg, #F0F4F9 3.86%, #E2E8F1 97.62%);
    position: relative;
    &__header {
        border-bottom: 3px solid #2F3339;
        margin-bottom: 20px;
        .h3 {
            line-height: 1.4;
            margin-bottom: 1rem;
        }
    }
    .button--primary {
        position: absolute;
        bottom: 0;
        left: 45%;
        width: 76%;
        transform: translate(-50%, 50%);
    }
    @media (max-width: 991.98px) {
        flex: 0 0 calc(50% - 10px);
        max-width: 354px;
        padding: 12px 12px 20px;
        .button--primary {
            left: 1rem;
            width: calc(100% - 2rem);
            transform: translate(0, 50%);
        }
        &__header {
            margin-bottom: 2rem;
            .h3 {
                font-size: 1.8rem;
                letter-spacing: 0.9px;
                max-width: 250px;
            }
        }
    }
    @media (max-width: 767.98px) {
        display: none;
    }
}
.hero-content {
    flex: 1 1 auto;
    margin-right: 4rem;
    .col-lg-9 {
        width: 100%;
    }
    .row-cols-lg-4 {
        max-width: 75rem;
        justify-content: space-between;
    }
    .row-cols-lg-4>* {
        width: calc(50% - 10px);
        margin-top: 5rem;
    }
    .hero-form-btn {
        display: none;
    }
    @media (max-width: 991.98px) {
        margin-right: 3.5rem;
        .row-cols-lg-4>* {
            width: 100%;
            margin-top: 4rem;
        }
    }
    @media (max-width: 767.98px) {
        margin-right: 0;
        .row-cols-lg-4>* {
            margin-top: 2rem;
        }
        .hero-form-btn {
            display: block;
        }
    }
    @media (max-width: 575.98px) {
        .hero-form-btn {
            width: 100%;
        }
    }
}
h2.section__title span {
   color: #85B73F;
}
.about-section {
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 6rem;
    }
    &__item {
        margin-right: 3rem;
        h3 {
            font-size: 22px;
        }
        h3 span {
            display: block;
        }
        &:last-child {
            margin: 0!important;
        }
        svg {
            fill: #85B73F;
            display: block;
            width: 80px;
            height: 80px;
            margin-bottom: 16px;
        }
    }
    .button--primary {
        width: 100%;
        max-width: 37.6rem;
        margin-top: 4rem;
    }
    @media (max-width: 991.98px)  {
        .button--primary {
            margin-top: 1rem;
        }
        &__items {
            margin-top: 3rem;
        }
        &__item {
            display: flex;
            align-items: center;
            margin-right: 6rem;
            svg {
                flex: 0 0 8rem;
                margin: 0 1.6rem 0 0;
            }
        }
    }
    @media (max-width: 575.98px) {
        &__items {
            margin-top: 2rem;
            flex-direction: column;
        }
        &__item {
            margin: 0 0 20px;
            h3{
                font-size: 20px;
                line-height: 1;
            }
            h3 span {
                display: inline;
            }
            svg {
                flex: 0 0 5rem;
                width: 5rem;
                height: 5rem;
            }
        }
    }
}
.comparison-section {
    h2.h1 {
        max-width: 720px;
    } 
    .button--mob {
        display: none;
    } 
    @media (max-width: 1399.98px) {
        h2.h1 {
            max-width: 500px;
        }
    } 
    @media (max-width: 767.98px)  {
        .section__title {
            margin-bottom: 2rem;
            max-width: 30rem;
        }
        .button--mob {
            display: block;
            margin-top: 2rem;
        }
    }
}
.comparison-table__responsive {
    padding-top: 4rem;
    padding-bottom: 4.5rem;
    @media (min-width: 991.98px) and (max-width: 1050px) {
    overflow-x: hidden
    }
    @media (max-width: 991.98px) {
        padding-bottom: 6rem;
    }
    @media (max-width: 575.98px)  {
        margin: 0 -20px;
        width: calc(100% + 40px);
        .simplebar-track {
            left: 20px;
        }
    }
}
.comparison-table {
    .button--primary {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        position: absolute;
        left: 1rem;
        right: 1rem;
        bottom: -3rem;
    }
    &__tbl td span {
        display: block;
    }
    @media (max-width: 1050px) {
       width: calc(100% - 20px);
       max-width: 1200px;
    }
    @media (max-width: 991.98px) {     
        width: 1005px;       
    }
    @media (max-width: 767.98px) {
        width: 650px;
        padding: 0 1rem;
        border-radius: 0;
        word-break: break-word;
        &__tbl tbody td,
        &__tbl thead th {
           font-size: 1rem;
           width: 110px;
           line-height: 1;
           padding: 1rem!important;
        }
        &__tbl thead th {
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 0;
         }
        &__tbl tbody tr td:nth-child(1),
        &__tbl thead tr th:nth-child(1) {
            width: 76px;
        }
        &__tbl tbody tr td:nth-child(2),
        &__tbl thead tr th:nth-child(2) {
            width: 105px;
        }
        &__tbl tbody tr td:nth-child(2) {
            span {
                margin-bottom: 1rem;
            }
            .button--primary {
                display: none;
            }
        }
        &__tbl tbody tr:last-child td:not(:first-child) {
            font-size: 1rem;
        }
        &__tbl tbody tr:last-child td:nth-child(2):before {
            height: calc(100% + 3rem);
        }
    }
}
.advantages {
    .simplebar-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &:before, &:after {
            content: none;
        }
    }
    .col-lg-5 {
        padding: 0 2rem;
        margin-top: var(--bs-gutter-y);
    }
    &__text a {
        font-size: 1.6rem;
        color: #85B73F;
        text-decoration: underline;
    }
     @media (min-width: 992px) and (max-width: 1399.98px) {
        .col-lg-5 {
            width: calc(50% - 22px);
        }
    }
    @media (max-width: 991.98px) {
        .col-lg-5 {
            flex: 0 0 320px;
            width: 320px;
            padding: 0 1rem;
        }
        .advantages-g > * {
            width: auto;
        }
        .advantages-g {
           padding-bottom: 40px;
        }
        .simplebar-content {
           flex-wrap: nowrap;
           &:before, &:after {
            content: "";
           }
        }
    }
    @media (max-width: 991.98px) and (max-width: 575.98px) {
        .col-lg-5 {
            flex: 0 0 28rem;
            width: 28rem;
            padding: 0 1.5rem 0 0;
        }
    }
}
.certificate-item:after {
    transition: all .3s linear;
}
.personal-offer--landing {
    .section__title {
        margin-bottom: 1rem;
    }
    .button--primary {
        margin-left: 2rem;
        width: calc(100% - 20px);
        padding: 2rem;
        max-width: 360px;
    }
    .form {
        input::placeholder, 
        textarea::placeholder {
           color: #2F3339;
           opacity: 0.7;
        }
    }
    .form__group--textarea {
        grid-column: 1/3;
    }
    .personal-offer__wrapper {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .personal-offer__container {
        max-width: 1122px;
        margin: 0 auto;
    }
    .personal-offer__cols {
        display: grid;
        grid-template-columns: 1fr 1fr 1.1fr;
        gap: 0 2rem;
        align-items: end;        
    }
    @media (max-width: 1399.98px) {
        .personal-offer__wrapper {
           padding-left: 3rem;
           padding-right: 6.4rem; 
        }
    }
    @media (max-width: 991.98px) {
        .form input, .form input::placeholder, .form textarea, .form textarea::placeholder {
            font-size: 1.8rem;
        }
        .form__group--textarea {
            margin-bottom: 4rem;
        }
        .form__group--btn {
            grid-column: 1/3;
            margin-bottom: 12px;
        }
        .button--primary {
            width: 100%;
            grid-column: 1/3;
            margin: 0;
        }
        .personal {
            font-size: 16px;
            max-width: 500px;
        }
        .personal-offer__cols {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: 767.98px) {
        .section__title,
        .personal-offer__text {
            text-align: center;
        }
        .personal {
            font-size: 1.4rem;
            line-height: 1.2;
            a {
                display: block;
            }
        }
        .personal-offer__wrapper {
            padding: 3rem 1.6rem;
        }
        .personal-offer__cols {
            display: block;
        }
    }
    
}
.work-gallery, .photo-gallery {
    overflow: hidden;
    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .swiper-scrollbar-wrap {
        display: none;
    }
    @media (max-width: 991.98px) {
        .section__title {
            margin-bottom: 3rem;
        }
    }
    @media (max-width: 767.98px) {
        .section__title {
            margin-bottom: 2rem;
        }
        .swiper {
            overflow: visible;
        }
        .swiper-wrapper {
            display: flex;
            gap: 0;
        }
        .swiper-scrollbar-wrap {
            display: block;
            margin-top: 2rem;
        }
    }
}
.item-work{
    h6 {
        font-size: 1.8rem;
        line-height: 1.4;
        font-weight: 600;
        letter-spacing: 0.9px;
        margin-bottom: 0.8rem
    }
    .media-cover {
        padding-top: 66.66%;
        margin-bottom: 1rem;
    }
    &__btn {
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: 0.9px;
        color: #85B73F;
        text-decoration: underline;
        text-align: left;
        padding: 0;
        background: transparent;
        border: 0;
    }
    @media (max-width: 991.98px) {
        h6 {
            font-size: 1.3rem;
            letter-spacing: normal;
            line-height: 1.1;
        }
        &__btn {
            font-size: 1.4rem;
            letter-spacing: 0.7px;
        }
    }
}
.work-gallery {
    .swiper-wrapper {
        gap: 4rem 3rem;
        @media (max-width: 991.98px) {
            gap: 4rem 2rem;
        }
    }
}
.photo-gallery {
    .swiper-wrapper {
        gap: 3rem;
        @media (max-width: 991.98px) {
            gap: 4rem 2rem;
        }
    }
}
.item-pg {
    .media-cover {
        padding-top: 66.66%;
    }
}
.choice-sec {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 5rem;
        bottom: 0;
        width: 83%;
        background: linear-gradient(140deg, #F0F4F9 3.86%, #E2E8F1 97.62%);
        z-index: -1;
    }
    @media (max-width: 1399.98px) {
        &:before {
            top: 0;
            width: 87%;
        }
    }
    @media (max-width: 991.98px)  {
        &::before {
            width: 100%
        }
    }
}
.choice-form {    
    display: grid;
    grid-template-columns: 5.3fr 3.7fr;
    align-items: start;
    gap: 0 30px;
    background: transparent;
	.section__title {
        line-height: 1.1;
        padding: 10rem 0 3rem;
        border-bottom: 3px solid #2F3339;
        margin-bottom: 4rem;
    }
	&__lbl {
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 0.9px;
    }
	&__items {
        margin: 8px -9px -20px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        label {
            margin: 0 9px 20px;            
            input {
                display: none;
            }
            span {
                font-size: 1.6rem;
                display: block;
                padding: 6px 16px;
                border-radius: 8px;
                background:#ffffff;
                transition: all .3s linear;
                cursor: pointer;
            }
            input:checked + span {
                color: #ffffff;
                background:  #677385;
                pointer-events: none;
            }
        }
    }
	&__img {
        grid-row: 1/5;
        transition: all 3s linear;
        img {
            position: static;
            border-radius: 0px 40px 0px 45px;
            height: auto;
        }
    }
	&__footer {
        margin-top: 30px;
        padding-bottom: 3.8rem;
        border-radius: 40px 0px 45px 0px;
        .button--primary {
            width: 100%;
            max-width: 37.6rem;
            padding: 2rem;
        }
    }
    &__price {
        margin-bottom: 40px;
    }
    @media (max-width: 1399.98px) {
        align-items: center;
        .section__title {
            padding: 3rem 0 2rem;
            margin-bottom: 2rem;
        }
        &__footer {
            margin-top: 1rem;
            padding-bottom: 3rem;
        }
    }
    @media (max-width: 991.98px) {
        padding: 5rem 0;
        grid-template-columns: 1fr 1fr;
        gap: 0 2rem;
        align-items: start;
        .section__title {
            grid-area: 1/1/2/3;
            padding-top: 0;
            margin-bottom: 3rem;
        }
        .form__group {
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__img {
            grid-area: 2/1/3/2;
        }
        &__body {
            grid-area: 2/2/4/3;
        }
        &__footer {
            grid-area: 3/1/4/2;
            padding-bottom: 0;
        }
        &__price {
            font-size: 2.4rem;
            margin-bottom: 2rem;
        }
    }
    @media (max-width: 767.98px) {
        display: block;
        padding: 3rem 0;
        .section__title {
            padding-bottom: 12px;
            margin-bottom: 2rem;
        }
        .form__group {
            margin-bottom: 16px;
        }
        &__img {
            max-width: 22rem;
            min-height: 175px;
            margin: 2rem 0;
        }
        &__items {
            margin: 8px -6px -12px;
            label {
                margin: 0 6px 12px;
            }
        }
        &__lbl {
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0.8px;
        }
    }
}
.custom-color {
    &:after {
        content: "(под заказ)";
        font-family: "Montserrat";
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.1;
        color: rgba(47,51,57,.5);
    }
}
.ingred-sec {
    &__row {
        display: grid;
        grid-template-columns: auto repeat(3,1fr);
        border-radius: 0px 4rem;
        border: 1px solid  #85B73F;
        overflow: hidden;
    }
    &__lbl {
        color: #ffffff;
        padding: 5rem;
        border-radius: 0px 4rem;
        background: #85B73F;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    @media (max-width: 991.98px) {
        &__row {
            border-radius: 0 3rem;
        }
        &__lbl {
            border-radius: 0px 3rem;
            padding: 2.6rem;
        }
    }
    @media (max-width: 767.98px) {
        .section__title {
            margin-bottom: 2rem;
        }
        &__row{
            grid-template-columns: 1fr 1fr;
            gap: 0 2rem;
            border-radius: 30px 0;
        }
        &__lbl {
            border-radius: 3rem 0 0 0;
        }
    }
}
.item-ingred {
    margin: 0 5rem;
    .h2 {
        margin: 9px 0;
        text-align: center;
    }
    .media-contain {
        padding-top: 61.18%;
    }
    @media (max-width: 1399.98px) {
        margin: 0 8px;
    }
    @media (max-width: 991.98px) {
        margin: 0 1rem;
        .h2 {
            font-size: 1.8rem;
            letter-spacing: 0.9px;
        }
    }
    @media (max-width: 575.98px) {
        margin: 15px 6px;
        .h2 {
            font-size: 1.4rem;
            letter-spacing: 0;
        }
    }
}
.rec-sec {
    padding: 5rem 0;
    position: relative;
    min-height: 110rem;
    background: linear-gradient(140deg, #F0F4F9 3.86%, #E2E8F1 97.62%);
    .section__title {
        max-width: 510px;
    }
    .button--primary {
        padding: 2rem;
        max-width: 37.6rem;
    }
    &__content {
        width: 59%;
    }
    &__img {
        display: block;
        position: absolute;
        right: 0;
        width: 39%;
        bottom: -50px;
        max-height: 93rem;
        border-radius: 40px 0px;
        object-fit: cover;
    }
    @media (max-width: 1399.98px) {
        min-height: 8rem;
        .section__title {
            max-width: 406px;
        }
        &__content {
            width: 58%;
        }
        &__img {
            top: 50%;
            width: 37.5%;
            transform: translateY(-50%);
        }
    }
    @media (max-width: 991.98px)  {    
        .section__title {
            margin-bottom: 2rem;
        }
        .page-list {
            margin-bottom: 0;
        }
        .page-list li {            
            margin-bottom: 12px;
        }
        &__content {
            width: 100%;
            padding-right: 3rem;
        }
        &__img {
            display: none;
        }
    }
    @media (max-width: 767.98px) {
        padding: 3rem 0;
        min-height: 0;
        .section__title {
            margin-bottom: 3rem;
        }
        &__content {
            padding-right: 0;
        }
    }
}
.rec-accordion {
    margin-bottom: 5rem;
    &__item {
        padding: 8px 0;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0
        };
    }
    &__btn {
        width: 100%;
        display: flex;
        align-items: center;
        border: 0;
        padding: 0;
        background: transparent;
        .h1 {
            margin: 0;
            color: #85B73F;
        }
        h3 {
            flex: 1 1 auto;
            text-align: left;
            margin: 0 16px;
        }
        svg {
            flex: 0 0 20px;
            transform: rotate(180deg);
            transition: all 0.2s ease-in-out;
        }
        &:not(.collapsed) svg {
            transform: rotate(0deg);
        }
    }
    &__body {
        padding: 16px 0 0 24px;
        ul li {
            color: rgba(47,51,57,.5);
            padding-left: 20px;
            &:before {
                top: 0.8rem;
                width: 12px;
                height: 12px;
                border-radius: 4px 0;
                transform: translate(0);
            }
        }
    }
    @media (max-width: 1399.98px) {
        &__btn {
            .h1 {
                font-size: 4rem;
            }
        }
    }
    @media (max-width: 575.98px)  {
        margin-bottom: 3rem;
        &__body ul li {
            font-size: 14px;
            line-height: 1.4;
            &:before {
                top: 0.5rem;
            }
        }
        &__btn {
            .h1 {
                font-size: 3rem;
            }
            h3 {
                font-size: 13px;
            }
        }
    }
}
.consultation {
    background: #85B73F;
    padding: 5rem 0;
    h2.h1 {
        max-width: 75rem;
        line-height: 1.1;
        padding-bottom: 40px;
        color: #ffffff;
        border-bottom: 3px solid #ffffff;
    }
    .container {
        display: grid;
        grid-template-columns: 35.5% 1fr;
        justify-items: start;
        align-items: start;
        gap: 0 11rem;
    }
    img, svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
    &__content {
        h3 {
            margin-bottom: 3rem;
        }
        ul {
            margin-bottom: 7rem;
            li {
                &:before {
                    background: #ffffff;
                }
            }
        }
    }
    &__preview {
        grid-row: 1/5;
        position: relative;
        border-radius: 40px 0;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            background: linear-gradient(180deg, rgba(51, 51, 51, 0.00) 61.57%, #333 100%);
        }
    }
    &__info {
        position: absolute;
        bottom: 4.2rem;
        left: 6rem;
        z-index: 2;
        color: #ffffff;
        h3 {
            color: #ffffff;
        }
    }
    .button--primary {
        color: #2F3339;
        background: #ffffff;
        &:hover {
            color: #fff;
            background-color: #2F3339;
        }
    }
    @media (max-width: 1399.98px) {
        .container {
            grid-template-columns: 41% 1fr;
            gap: 0 12rem;
        }
    }
    @media (max-width: 991.98px) {
        .container {
            grid-template-columns: 1fr 1fr;
            gap: 0 2rem;
        }
        h2.h1 {
            grid-area: 1/1/2/3;
        }
        .button--primary {
            width: 100%;
            padding: 2rem;
        }
        &__preview {
            grid-area: 2/2/4/3;
        }
        &__content ul {
            margin-bottom: 3rem;
            li {
                font-size: 1.6rem;
                line-height: 1.6;
            }
        }
        &__info {
            bottom: 1.6rem;
            left: 1.6rem;
        }
    }
    @media (max-width: 767.98px) {
        padding: 3rem 0;
        h2.h1 {
            padding-bottom: 2rem;
            margin-bottom: 3rem;
        }
        .container {
            display: block;
        }
        &__preview {
           max-width: 540px;
           margin: 0 auto 3rem
        }
        .button--primary {
            display: block;
            max-width: 540px;
            margin: 0 auto ;
         }
    }
    @media (max-width: 575.98px) {
        &__content {
            h3 {
                font-size: 13px;
            }
            ul li {
                font-size: 1.4rem;
            }
        }
    }
}
.delivery {
    h2.h1 {
        max-width: 90rem;
        margin-bottom: 11rem;
    }
    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 30px;
    }
    .swiper-slide {
        height: 240px;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px 0px;
        border: 1px solid  #677385;
        img {
            object-fit: contain;
        }
    }
    .swiper-scrollbar-wrap {
        display: none;
    }
    img, svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
    @media (max-width: 1399.98px) {
        h2.h1 {
            margin-bottom: 5rem;
        }
        .swiper-slide {
            height: 20rem;
        }
    }
    @media (max-width: 991.98px) {
        h2.h1 {
            margin-bottom: 3rem;
        }
        .swiper-wrapper {
            gap: 20px;
        }
        .swiper-slide {
            height: 118px;
        }
    }
    @media (max-width: 767.98px)  {
        overflow: hidden;
        .swiper {
            overflow: visible;
        }
        .swiper-wrapper {
            display: flex;
            gap: 0;
        }
        .swiper-scrollbar-wrap {
            display: block;
            margin-top: 2rem;
        }
    }
}
.main-map {   
    min-height: 65rem;
    position: relative; 
    #map {
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        height: 60rem;
    }
    &__content {
        width: 100%;
        max-width: 62rem;
        color: #ffffff;
        padding: 5rem 7.8rem 5rem 4rem;
        border-radius: 40px 0px;
        background: #85B73F;
        position: relative;
        z-index: 2;
        h2.h1 {
            color: #ffffff;
            max-width: 45rem;
            padding-bottom: 2rem;
            border-bottom: 3px solid #ffffff;
            margin-bottom: 4rem;
        }
    }
    &__address {
        h3 {
            line-height: 1.4;
            margin-bottom: 4rem;
            color: #ffffff;
            &:last-child {
                margin-bottom: 0!important
            };
        }
    }
    @media (max-width: 1399.98px) {
        min-height: 57rem;
        #map {
            height: 52rem;
        }
    }
    @media (max-width: 991.98px) {
        .container {
            padding-top: 47rem;
        }
        #map {
            top: 0;
        }
    }
    @media (max-width: 767.98px) {
        min-height: 43rem;
        #map {
            height: 43rem;
        }
        .container {
            padding-top: 45rem;
        }
        h2.h1 {
            margin-bottom: 2rem;
        }
        &__content {
            padding: 3rem 1.6rem;
            max-width: 42rem;
            h3 {
                font-size: 1.6rem;
                line-height: 1.6;
                margin-bottom: 2rem;
            }
        }
    }
}
.payments {
    .container {
        display: grid;
        grid-template-columns: 1fr 49%;
        align-items: start;
        gap: 0 30px;
    }
    .button--primary {
        width: 36rem;
        margin-top: 2rem;
    }
    h3.h2 {
        span {
            display: block;
        }
    }
    &__content {
        margin-bottom: 5rem;
    }
    &__logos {
        grid-area: 1/2/4/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    &__logo {
        height: 240px;
        border-radius: 40px 0;
        border: 1px solid  #677385;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rem;
        img, svg {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    }
    @media (max-width: 1399.98px) {
        .container {
            gap: 0 2rem;
        }
        h3.h2 {
            font-size: 2.4rem;
        }
        &__content {
            margin-bottom: 3rem;
        }
        &__logo {
            height: 191px;
        }
    }
    @media (max-width: 991.98px) {
        h2.h1 {
            max-width: 600px;
            margin-bottom: 3rem;
        }
        .container {
             display: block;
        }
        .button--primary {
            margin-top: 2rem;
        }
        &__logos {
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
            margin-bottom: 3rem;
        }
        &__logo {
            height: 110px;
        }
    }
    @media (max-width: 991.98px) {
        &__logo {
            padding: 2rem;
        }
    }
    @media (max-width: 767.98px) {
        h3.h2 {
            font-size: 2rem;
            max-width: 300px;
            span {
                display: inline;
            }
        }
        &__logo {
            padding: 1rem;
        }
    }
    @media (max-width: 575.98px) {
        &__logos {
              grid-template-columns: repeat(2, 1fr);
              max-width: 400px;
          } 
          &__logo {
            padding: 2rem;
            height: 10rem;
        }
        &__content {
            margin-bottom: 2rem;
        }
        .button--primary {
            width: 100%;
            margin-top: 1rem;
        }
    }
}
.fixed-btn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        padding: 0px 16px; 
        line-height: 1.6; 
        font-size: 15px;
        background-color: rgb(37, 211, 102); 
        color: rgb(255, 255, 255); 
        border-radius: 10px; 
        margin: 0px 10px; order: 0; 
        transform: scale(0);
        transition: all .2s ease-out;
        transform-origin: center right;
    }
    &:hover {
        p {
            display: block;
            transform: scale(1);
        }
    }
}


